# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore Makefiles
!Makefile
!*.html
# Unignore all dirs
!*/

# Ignore `bin` dir
bin/

#Object files

*.o
*.elf
*.hex

#Libraries

*.a

#Shared objects

*.so

#Executables

*.out

.vscode
